language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
before_script:
  - 'git clone git://github.com/camptocamp/puppet-archive.git spec/fixtures/modules/archive'
env:
  - PUPPET_VERSION=2.6.2
  - PUPPET_VERSION=2.6.17
  - PUPPET_VERSION=2.7.19
