---
language: ruby
sudo: false
addons:
  apt:
    packages:
      - libaugeas-dev
    sources:
      - augeas
cache: bundler
bundler_args: --without system_tests
script: ["bundle exec rake validate", "bundle exec rake lint", "bundle exec rake spec SPEC_OPTS='--format documentation'"]
matrix:
  fast_finish: true
  include:
  - rvm: 2.1.9
    env: PUPPET_GEM_VERSION="~> 4.0"
  - rvm: 2.3.1
    env: PUPPET_GEM_VERSION="~> 4"
notifications:
  email: false
deploy:
  provider: puppetforge
  user: camptocamp
  password:
    secure: "KDSkD9tprA+AxUg7kNaMavysQUHa7cmqsSl9x89J0ai6z736KXqjCBQIN8kW5V6vfat/yoDScVVYaQv7Y0/6ExBpoL05pOgI9wXvD8G3BONUfd1iFKMOATitjdBxUhVqZClG/iABwgPKh5gPxBKm5Bp/ViLFv8nuhaLSlSBQ0U0="
  on:
    tags: true
    # all_branches is required to use tags
    all_branches: true
    # Only publish if our main Ruby target builds
    rvm: 2.1.9
