---
language: ruby
bundler_args: --without development
script: "bundle exec rake validate && bundle exec rake lint && bundle exec rake spec SPEC_OPTS='--format documentation'"
after_success:
  ["git clone -q git://github.com/puppetlabs/ghpublisher.git .forge-releng", ".forge-releng/publish"]
env:
  global:
    - PUBLISHER_LOGIN=camptocamp
    - secure: "nfJcXz5k7u0MAElbhOkJzud2j1K1tpQtMQGIQhthxrcQqYR4DTNFoQKJV8UaZhGOGNixbBLYXzUqzMRkKdVMXgFCbZZAiqgL64S5l68Usq1ooe2mBo6a9rIN2z2+kOjqc5tWPLTTv4u0162TzmbmFHkyHPRlPrnV9YVv3+TcQE0="
matrix:
  fast_finish: true
  include:
  - rvm: 1.8.7
    env: PUPPET_GEM_VERSION="~> 2.7"
  - rvm: 1.8.7
    env: PUPPET_GEM_VERSION="~> 3.0"
  - rvm: 1.9.3
    env: PUPPET_GEM_VERSION="~> 3.0"
  - rvm: 2.0.0
    env: PUPPET_GEM_VERSION="~> 3.0"
notifications:
  email: false
